@charset "UTF-8";

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?zet0r");
  src: url("../fonts/icomoon.eot?zet0r#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?zet0r") format("truetype"), url("../fonts/icomoon.woff?zet0r") format("woff"), url("../fonts/icomoon.svg?zet0r#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=icon-],
[class*=" icon-"] {
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
  content: "\e900";
}

.icon-cart:before {
  content: "\e901";
}

.icon-search:before {
  content: "\e902";
}

.icon-user:before {
  content: "\e903";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #202020;
  line-height: 1;
  font-family: "Roboto";
  font-size: 1.5rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 80.3125rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  -webkit-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background-color: #eee;
  padding: 2.5rem;
  width: 100%;
  max-width: 900px;
  border-radius: 20px;
}

.lock .popup__content {
  visibility: visible;
}

.popup__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 0;
  top: 0.625rem;
}

.popup__close span {
  background-color: #202020;
  width: 1.875rem;
  height: 0.125rem;
}

.popup__close span:first-child {
  -webkit-transform: rotate(45deg) translateX(1.3125rem);
      -ms-transform: rotate(45deg) translateX(1.3125rem);
          transform: rotate(45deg) translateX(1.3125rem);
}

.popup__close span:last-child {
  -webkit-transform: rotate(-45deg) translateX(-1.3125rem);
      -ms-transform: rotate(-45deg) translateX(-1.3125rem);
          transform: rotate(-45deg) translateX(-1.3125rem);
}

.account__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.account__label {
  color: #A79997;
  text-align: left;
}

.account__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #eee;
  max-width: 25rem;
  margin: 0 auto;
  width: 100%;
}

.account__input {
  background-color: transparent;
  border-bottom: 1px solid #A79997;
  width: 100%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.account__button {
  margin: 0 auto;
  max-width: 25rem;
  width: 100%;
}

.spollers {
  display: -ms-grid;
  display: grid;
  gap: 15px;
}

.spollers__item {
  font-size: 1.25rem;
}

summary::-webkit-details-marker {
  display: none;
}

.spollers__title {
  width: 100%;
  cursor: default;
  text-align: left;
  border: 1px solid #eee;
  padding: 0.625rem 0.9375rem;
  border-radius: 0.3125rem;
  position: relative;
  list-style: none;
}

._spoller-init .spollers__title {
  cursor: pointer;
  /*
  ._spoller-init & {
  	position: relative;
  	width: 100%;
  	text-align: left;
  	&::before,
  	&::after {
  		content: "";
  		position: absolute;
  		right: 0;
  		top: toRem(12);
  		height: toRem(1);
  		transition: all 0.3s ease 0s;
  		width: toRem(10);
  		background-color: #000;
  	}
  	&::before {
  		transform: rotate(40deg);
  		right: toRem(7);
  	}
  	&::after {
  		transform: rotate(-40deg);
  	}
  }
  &._spoller-active {
  	&::before {
  		transform: rotate(-40deg);
  	}
  	&::after {
  		transform: rotate(40deg);
  	}
  }
  */
}

._spoller-init .spollers__title::before,
._spoller-init .spollers__title::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  background-color: #000;
  height: 2px;
  width: 15px;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

._spoller-init .spollers__title::before {
  -webkit-transform: translate(-75%, -50%) rotate(40deg);
      -ms-transform: translate(-75%, -50%) rotate(40deg);
          transform: translate(-75%, -50%) rotate(40deg);
}

._spoller-init .spollers__title::after {
  -webkit-transform: translate(0, -50%) rotate(-40deg);
      -ms-transform: translate(0, -50%) rotate(-40deg);
          transform: translate(0, -50%) rotate(-40deg);
}

._spoller-init .spollers__title._spoller-active::before {
  -webkit-transform: translateX(-75%) rotate(-40deg);
      -ms-transform: translateX(-75%) rotate(-40deg);
          transform: translateX(-75%) rotate(-40deg);
}

._spoller-init .spollers__title._spoller-active::after {
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
}

.spollers__body {
  padding: 1.25rem;
  border-radius: 0.3125rem;
  border: 1px solid #eee;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg--contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header-title {
  color: #202020;
  font-size: 60px;
  line-height: 1.9;
  letter-spacing: 0.2125rem;
}

.button {
  color: #FFF;
  text-align: center;
  line-height: 3;
  border-radius: 1.5rem;
  background: #202020;
  padding: 0 1.5rem;
  font-size: 1rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header {
  position: fixed;
  z-index: 50;
  width: 100%;
  background-color: #FFF;
}

.header__info {
  position: relative;
  z-index: 5;
  background: #000F9F;
  color: #FFF;
  font-size: 0.8125rem;
  text-align: center;
  line-height: 1.4;
  letter-spacing: 0.015625rem;
}

.header__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto 1fr;
  grid-template-columns: 1fr auto 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 4.4375rem;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
}

.header__logo {
  -ms-grid-column-align: center;
      justify-self: center;
  text-align: center;
  max-width: 7.5625rem;
  max-height: 1rem;
  position: relative;
  z-index: 5;
}

.header__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 5;
  -ms-grid-column-align: end;
      justify-self: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
}

.menu {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.5rem;
     -moz-column-gap: 1.5rem;
          column-gap: 1.5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0.125rem;
}

.menu__link {
  color: #000;
  font-size: 1rem;
  line-height: 2.25;
  /* 36/16 */
  letter-spacing: 0.01875rem;
}

.icon-search {
  position: relative;
}

.icon-menu {
  display: none;
}

.button-search {
  cursor: pointer;
}

.button-search__form {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 5;
  top: -100%;
  right: 0;
  visibility: hidden;
  background-color: #eee;
  min-height: 2.5rem;
  border-radius: 0.625rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0 0.625rem;
}

.button-search__form._active {
  top: 0%;
  visibility: visible;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.button-search__input {
  background-color: transparent;
  min-height: 100%;
  padding: 0.625rem;
  width: 100%;
}

.button-search__button {
  padding: 0.625rem;
}

.hiro {
  position: relative;
  height: 100vh;
}

.hiro__image-bg {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

.hiro__image-bg img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.hiro__container {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  color: #FFF;
}

.hiro__title {
  max-width: 31.3125rem;
  line-height: 1.2;
  letter-spacing: 0.2rem;
  opacity: 0;
  -webkit-transform: translate(0, 100%);
      -ms-transform: translate(0, 100%);
          transform: translate(0, 100%);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.hiro__title._watcher-view {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.hiro__text {
  max-width: 31.3125rem;
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: 0.01875rem;
  opacity: 0;
  -webkit-transform: translate(0, 100%);
      -ms-transform: translate(0, 100%);
          transform: translate(0, 100%);
  -webkit-transition: all 0.9s ease 0s;
  transition: all 0.9s ease 0s;
}

.hiro__text._watcher-view {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.hiro__link {
  position: relative;
  z-index: 1;
  color: #202020;
  text-align: center;
  font-size: 1rem;
  line-height: 3;
  border-radius: 1.5rem;
  background: #FFF;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0 1.5rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 0;
  -webkit-transform: translate(0, 100%);
      -ms-transform: translate(0, 100%);
          transform: translate(0, 100%);
  -webkit-transition: all 1.3s ease 0s;
  transition: all 1.3s ease 0s;
}

.hiro__link._watcher-view {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.justin__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
  padding-bottom: 1.125rem;
  opacity: 0;
  -webkit-transform: translate(0, 100%);
      -ms-transform: translate(0, 100%);
          transform: translate(0, 100%);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.justin__header._watcher-view {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.justin__slider {
  margin: 0 1.875rem;
  position: relative;
}

.slide-justin__image {
  display: inline-block;
  overflow: hidden;
  width: 100%;
}

.slide-justin__image img {
  width: 100%;
  -webkit-transition: 1s ease 0s;
  transition: 1s ease 0s;
  display: block;
}

.slide-justin__title {
  line-height: 1.4;
  display: block;
  margin: 0.625rem 0;
}

.slide-justin__text {
  color: #737373;
  font-size: 0.75rem;
  line-height: 1.5;
}

.justin-button-next,
.justin-button-prev {
  position: absolute;
  top: calc(50% - 56px);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #fff;
}

.justin-button-next {
  right: 0.625rem;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.justin-button-prev {
  left: 0.625rem;
}

.shop__container {
  display: -ms-grid;
  display: grid;
}

.item-shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item-shop--reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.item-shop__content {
  opacity: 0;
  -webkit-transform: translate(0, 100%);
      -ms-transform: translate(0, 100%);
          transform: translate(0, 100%);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.item-shop__content._watcher-view {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.item-shop__title:not(:last-child) {
  padding-bottom: 1.25rem;
}

.item-shop__text {
  line-height: 1.3;
  letter-spacing: 0.01875rem;
}

.item-shop__button {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.item-shop__image {
  display: inline-block;
  overflow: hidden;
  opacity: 0;
  -webkit-transform: translate(0, 100%);
      -ms-transform: translate(0, 100%);
          transform: translate(0, 100%);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.item-shop__image._watcher-view {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.item-shop__image img {
  width: 100%;
  -webkit-transition: 1s ease 0s;
  transition: 1s ease 0s;
  display: block;
}

.text__body {
  max-width: 66.125rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.21875rem;
  opacity: 0;
  -webkit-transform: translate(0, 100%);
      -ms-transform: translate(0, 100%);
          transform: translate(0, 100%);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.text__body._watcher-view {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.text__tag {
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.21875rem;
  opacity: 0;
  -webkit-transform: translate(0, 100%);
      -ms-transform: translate(0, 100%);
          transform: translate(0, 100%);
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

.text__tag._watcher-view {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.text__link {
  font-size: 1rem;
  line-height: 1.4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  padding-right: 1.875rem;
  opacity: 0;
  -webkit-transform: translate(0, 100%);
      -ms-transform: translate(0, 100%);
          transform: translate(0, 100%);
  -webkit-transition: all 1.3s ease 0s;
  transition: all 1.3s ease 0s;
}

.text__link._watcher-view {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.text__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.125rem;
  background-color: #737373;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.text__link span::before {
  position: absolute;
  right: 0;
  -webkit-transform: rotate(180deg) translate(0, 0.5rem);
      -ms-transform: rotate(180deg) translate(0, 0.5rem);
          transform: rotate(180deg) translate(0, 0.5rem);
}

.swiper {
  overflow: hidden;
}

.swiper-initialized {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 47.99875em) {
  .menu {
    position: relative;
    z-index: 5;
  }

  .item-shop__text {
    max-width: 32.625rem;
  }
}

@media (min-width: 80.3125em) {
  .account__body {
    row-gap: 3.125rem;
  }

  .account__title {
    padding-bottom: 5rem;
  }

  .account__label {
    padding-bottom: 1.875rem;
  }

  .account__button {
    margin-top: 6.25rem;
  }

  .header-title {
    font-size: 3.75rem;
  }

  .header {
    min-height: 6.6875rem;
  }

  .header__info {
    padding-top: 0.5625rem;
  }

  .header__info {
    padding-bottom: 0.5625rem;
  }

  .header__info {
    min-height: 2.25rem;
  }

  .header__container {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }

  .header__container {
    min-height: 4.4375rem;
  }

  .header__action {
    -webkit-column-gap: 1.5625rem;
       -moz-column-gap: 1.5625rem;
            column-gap: 1.5625rem;
  }

  .button-search__form {
    right: 20%;
  }

  .button-search__form._active {
    margin-top: 6.25rem;
  }

  .button-search__form._active {
    right: 20%;
  }

  .hiro {
    margin-top: 6.6875rem;
  }

  .hiro__container {
    padding-top: 2.8125rem;
  }

  .hiro__title {
    font-size: 4.125rem;
  }

  .hiro__title:not(:last-child) {
    padding-bottom: 2.375rem;
  }

  .hiro__text {
    font-size: 1.5rem;
  }

  .hiro__text:not(:last-child) {
    padding-bottom: 2.1875rem;
  }

  .justin {
    padding-top: 5.3125rem;
  }

  .justin {
    padding-bottom: 2.8125rem;
  }

  .justin__button {
    padding-right: 3rem;
  }

  .justin__button {
    padding-left: 3rem;
  }

  .slide-justin__title {
    font-size: 1.375rem;
  }

  .justin-button-next,
  .justin-button-prev {
    padding: 1rem;
  }

  .justin-button-next,
  .justin-button-prev {
    font-size: 1.6875rem;
  }

  .shop {
    padding-top: 2.8125rem;
  }

  .shop {
    padding-bottom: 5.3125rem;
  }

  .shop__container {
    row-gap: 5.3125rem;
  }

  .item-shop {
    -webkit-column-gap: 2.5rem;
       -moz-column-gap: 2.5rem;
            column-gap: 2.5rem;
  }

  .item-shop__text:not(:last-child) {
    padding-bottom: 2.1875rem;
  }

  .text {
    padding-bottom: 5.3125rem;
  }

  .text__body {
    font-size: 4.4375rem;
  }

  .text__tag {
    font-size: 4rem;
  }
}

@media (max-width: 20em) {
  .account__body {
    row-gap: 1.25rem;
  }

  .account__title {
    padding-bottom: 1.875rem;
  }

  .account__label {
    padding-bottom: 0.9375rem;
  }

  .account__button {
    margin-top: 3.125rem;
  }

  .header-title {
    font-size: 2rem;
  }

  .header {
    min-height: 4.25rem;
  }

  .header__info {
    padding-top: 0.3125rem;
  }

  .header__info {
    padding-bottom: 0.3125rem;
  }

  .header__info {
    min-height: 1.75rem;
  }

  .header__container {
    -webkit-column-gap: 0.625rem;
       -moz-column-gap: 0.625rem;
            column-gap: 0.625rem;
  }

  .header__container {
    min-height: 2.5rem;
  }

  .header__action {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }

  .button-search__form._active {
    margin-top: 4.375rem;
  }

  .hiro {
    margin-top: 4.25rem;
  }

  .hiro__container {
    padding-top: 1.25rem;
  }

  .hiro__title {
    font-size: 2.625rem;
  }

  .hiro__title:not(:last-child) {
    padding-bottom: 1.25rem;
  }

  .hiro__text {
    font-size: 1.25rem;
  }

  .hiro__text:not(:last-child) {
    padding-bottom: 1.25rem;
  }

  .justin {
    padding-top: 2.5rem;
  }

  .justin {
    padding-bottom: 1.25rem;
  }

  .justin__button {
    padding-right: 1.5rem;
  }

  .justin__button {
    padding-left: 1.5rem;
  }

  .slide-justin__title {
    font-size: 1.125rem;
  }

  .justin-button-next,
  .justin-button-prev {
    padding: 0.5rem;
  }

  .justin-button-next,
  .justin-button-prev {
    font-size: 1.25rem;
  }

  .shop {
    padding-top: 1.25rem;
  }

  .shop {
    padding-bottom: 2.5rem;
  }

  .shop__container {
    row-gap: 2.5rem;
  }

  .item-shop {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }

  .item-shop__text:not(:last-child) {
    padding-bottom: 0.9375rem;
  }

  .text {
    padding-bottom: 2.5rem;
  }

  .text__body {
    font-size: 2.25rem;
  }

  .text__tag {
    font-size: 2rem;
  }
}

@media (max-width: 47.99875em) {
  .menu {
    overflow: auto;
    padding: 5rem 1.875rem 1.875rem 1.875rem;
    position: fixed;
    z-index: 3;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu-open .menu {
    left: 0%;
    text-align: center;
    display: -ms-grid;
    display: grid;
    row-gap: 0.625rem;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu-open .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 30px;
  }

  .menu-open .menu__link {
    min-width: 100%;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .item-shop {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .item-shop--reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .item-shop__button {
    min-width: 100%;
  }
}

@media (max-width: 47.99875em) and (max-width: 20em) {
  .menu-open .menu__link {
    font-size: 1.125rem;
  }

  .item-shop {
    row-gap: 1.5625rem;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 29.99875em) {
  .hiro__image-bg::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
  }

  .hiro__image-bg img {
    -o-object-position: 35%;
       object-position: 35%;
  }

  .justin__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 0.9375rem;
  }

  .justin__header .justin__button {
    min-width: 100%;
  }
}

@media (min-width: 20em) and (max-width: 80.3125em) {
@supports (row-gap: clamp( 1.25rem , 0.628238342rem  +  3.1088082902vw , 3.125rem )) {
    .account__body {
      row-gap: clamp( 1.25rem , 0.628238342rem  +  3.1088082902vw , 3.125rem );
    }
}

@supports not (row-gap: clamp( 1.25rem , 0.628238342rem  +  3.1088082902vw , 3.125rem )) {
    .account__body {
      row-gap: calc(1.25rem + 1.875 * (100vw - 20rem) / 60.3125);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.8387305699rem  +  5.1813471503vw , 5rem )) {
    .account__title {
      padding-bottom: clamp( 1.875rem , 0.8387305699rem  +  5.1813471503vw , 5rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.8387305699rem  +  5.1813471503vw , 5rem )) {
    .account__title {
      padding-bottom: calc(1.875rem + 3.125 * (100vw - 20rem) / 60.3125);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.626619171rem  +  1.5544041451vw , 1.875rem )) {
    .account__label {
      padding-bottom: clamp( 0.9375rem , 0.626619171rem  +  1.5544041451vw , 1.875rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.626619171rem  +  1.5544041451vw , 1.875rem )) {
    .account__label {
      padding-bottom: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 60.3125);
    }
}

@supports (margin-top: clamp( 3.125rem , 2.0887305699rem  +  5.1813471503vw , 6.25rem )) {
    .account__button {
      margin-top: clamp( 3.125rem , 2.0887305699rem  +  5.1813471503vw , 6.25rem );
    }
}

@supports not (margin-top: clamp( 3.125rem , 2.0887305699rem  +  5.1813471503vw , 6.25rem )) {
    .account__button {
      margin-top: calc(3.125rem + 3.125 * (100vw - 20rem) / 60.3125);
    }
}

@supports (font-size: clamp( 2rem , 1.4196891192rem  +  2.9015544041vw , 3.75rem )) {
    .header-title {
      font-size: clamp( 2rem , 1.4196891192rem  +  2.9015544041vw , 3.75rem );
    }
}

@supports not (font-size: clamp( 2rem , 1.4196891192rem  +  2.9015544041vw , 3.75rem )) {
    .header-title {
      font-size: calc(2rem + 1.75 * (100vw - 20rem) / 60.3125);
    }
}

@supports (min-height: clamp( 4.25rem , 3.4417098446rem  +  4.0414507772vw , 6.6875rem )) {
    .header {
      min-height: clamp( 4.25rem , 3.4417098446rem  +  4.0414507772vw , 6.6875rem );
    }
}

@supports not (min-height: clamp( 4.25rem , 3.4417098446rem  +  4.0414507772vw , 6.6875rem )) {
    .header {
      min-height: calc(4.25rem + 2.4375 * (100vw - 20rem) / 60.3125);
    }
}

@supports (padding-top: clamp( 0.3125rem , 0.2295984456rem  +  0.414507772vw , 0.5625rem )) {
    .header__info {
      padding-top: clamp( 0.3125rem , 0.2295984456rem  +  0.414507772vw , 0.5625rem );
    }
}

@supports not (padding-top: clamp( 0.3125rem , 0.2295984456rem  +  0.414507772vw , 0.5625rem )) {
    .header__info {
      padding-top: calc(0.3125rem + 0.25 * (100vw - 20rem) / 60.3125);
    }
}

@supports (padding-bottom: clamp( 0.3125rem , 0.2295984456rem  +  0.414507772vw , 0.5625rem )) {
    .header__info {
      padding-bottom: clamp( 0.3125rem , 0.2295984456rem  +  0.414507772vw , 0.5625rem );
    }
}

@supports not (padding-bottom: clamp( 0.3125rem , 0.2295984456rem  +  0.414507772vw , 0.5625rem )) {
    .header__info {
      padding-bottom: calc(0.3125rem + 0.25 * (100vw - 20rem) / 60.3125);
    }
}

@supports (min-height: clamp( 1.75rem , 1.5841968912rem  +  0.829015544vw , 2.25rem )) {
    .header__info {
      min-height: clamp( 1.75rem , 1.5841968912rem  +  0.829015544vw , 2.25rem );
    }
}

@supports not (min-height: clamp( 1.75rem , 1.5841968912rem  +  0.829015544vw , 2.25rem )) {
    .header__info {
      min-height: calc(1.75rem + 0.5 * (100vw - 20rem) / 60.3125);
    }
}

@supports ((-moz-column-gap: clamp( 0.625rem , 0.417746114rem  +  1.0362694301vw , 1.25rem )) or (column-gap: clamp( 0.625rem , 0.417746114rem  +  1.0362694301vw , 1.25rem ))) {
    .header__container {
      -webkit-column-gap: clamp( 0.625rem , 0.417746114rem  +  1.0362694301vw , 1.25rem );
         -moz-column-gap: clamp( 0.625rem , 0.417746114rem  +  1.0362694301vw , 1.25rem );
              column-gap: clamp( 0.625rem , 0.417746114rem  +  1.0362694301vw , 1.25rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.625rem , 0.417746114rem  +  1.0362694301vw , 1.25rem )) or (column-gap: clamp( 0.625rem , 0.417746114rem  +  1.0362694301vw , 1.25rem ))) {
    .header__container {
      -webkit-column-gap: calc(0.625rem + 0.625 * (100vw - 20rem) / 60.3125);
         -moz-column-gap: calc(0.625rem + 0.625 * (100vw - 20rem) / 60.3125);
              column-gap: calc(0.625rem + 0.625 * (100vw - 20rem) / 60.3125);
    }
}

@supports (min-height: clamp( 2.5rem , 1.8575129534rem  +  3.2124352332vw , 4.4375rem )) {
    .header__container {
      min-height: clamp( 2.5rem , 1.8575129534rem  +  3.2124352332vw , 4.4375rem );
    }
}

@supports not (min-height: clamp( 2.5rem , 1.8575129534rem  +  3.2124352332vw , 4.4375rem )) {
    .header__container {
      min-height: calc(2.5rem + 1.9375 * (100vw - 20rem) / 60.3125);
    }
}

@supports ((-moz-column-gap: clamp( 0.9375rem , 0.730246114rem  +  1.0362694301vw , 1.5625rem )) or (column-gap: clamp( 0.9375rem , 0.730246114rem  +  1.0362694301vw , 1.5625rem ))) {
    .header__action {
      -webkit-column-gap: clamp( 0.9375rem , 0.730246114rem  +  1.0362694301vw , 1.5625rem );
         -moz-column-gap: clamp( 0.9375rem , 0.730246114rem  +  1.0362694301vw , 1.5625rem );
              column-gap: clamp( 0.9375rem , 0.730246114rem  +  1.0362694301vw , 1.5625rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , 0.730246114rem  +  1.0362694301vw , 1.5625rem )) or (column-gap: clamp( 0.9375rem , 0.730246114rem  +  1.0362694301vw , 1.5625rem ))) {
    .header__action {
      -webkit-column-gap: calc(0.9375rem + 0.625 * (100vw - 20rem) / 60.3125);
         -moz-column-gap: calc(0.9375rem + 0.625 * (100vw - 20rem) / 60.3125);
              column-gap: calc(0.9375rem + 0.625 * (100vw - 20rem) / 60.3125);
    }
}

@supports (margin-top: clamp( 4.375rem , 3.753238342rem  +  3.1088082902vw , 6.25rem )) {
    .button-search__form._active {
      margin-top: clamp( 4.375rem , 3.753238342rem  +  3.1088082902vw , 6.25rem );
    }
}

@supports not (margin-top: clamp( 4.375rem , 3.753238342rem  +  3.1088082902vw , 6.25rem )) {
    .button-search__form._active {
      margin-top: calc(4.375rem + 1.875 * (100vw - 20rem) / 60.3125);
    }
}

@supports (margin-top: clamp( 4.25rem , 3.4417098446rem  +  4.0414507772vw , 6.6875rem )) {
    .hiro {
      margin-top: clamp( 4.25rem , 3.4417098446rem  +  4.0414507772vw , 6.6875rem );
    }
}

@supports not (margin-top: clamp( 4.25rem , 3.4417098446rem  +  4.0414507772vw , 6.6875rem )) {
    .hiro {
      margin-top: calc(4.25rem + 2.4375 * (100vw - 20rem) / 60.3125);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.731865285rem  +  2.5906735751vw , 2.8125rem )) {
    .hiro__container {
      padding-top: clamp( 1.25rem , 0.731865285rem  +  2.5906735751vw , 2.8125rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.731865285rem  +  2.5906735751vw , 2.8125rem )) {
    .hiro__container {
      padding-top: calc(1.25rem + 1.5625 * (100vw - 20rem) / 60.3125);
    }
}

@supports (font-size: clamp( 2.625rem , 2.1275906736rem  +  2.4870466321vw , 4.125rem )) {
    .hiro__title {
      font-size: clamp( 2.625rem , 2.1275906736rem  +  2.4870466321vw , 4.125rem );
    }
}

@supports not (font-size: clamp( 2.625rem , 2.1275906736rem  +  2.4870466321vw , 4.125rem )) {
    .hiro__title {
      font-size: calc(2.625rem + 1.5 * (100vw - 20rem) / 60.3125);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.8769430052rem  +  1.8652849741vw , 2.375rem )) {
    .hiro__title:not(:last-child) {
      padding-bottom: clamp( 1.25rem , 0.8769430052rem  +  1.8652849741vw , 2.375rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.8769430052rem  +  1.8652849741vw , 2.375rem )) {
    .hiro__title:not(:last-child) {
      padding-bottom: calc(1.25rem + 1.125 * (100vw - 20rem) / 60.3125);
    }
}

@supports (font-size: clamp( 1.25rem , 1.1670984456rem  +  0.414507772vw , 1.5rem )) {
    .hiro__text {
      font-size: clamp( 1.25rem , 1.1670984456rem  +  0.414507772vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.1670984456rem  +  0.414507772vw , 1.5rem )) {
    .hiro__text {
      font-size: calc(1.25rem + 0.25 * (100vw - 20rem) / 60.3125);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.939119171rem  +  1.5544041451vw , 2.1875rem )) {
    .hiro__text:not(:last-child) {
      padding-bottom: clamp( 1.25rem , 0.939119171rem  +  1.5544041451vw , 2.1875rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.939119171rem  +  1.5544041451vw , 2.1875rem )) {
    .hiro__text:not(:last-child) {
      padding-bottom: calc(1.25rem + 0.9375 * (100vw - 20rem) / 60.3125);
    }
}

@supports (padding-top: clamp( 2.5rem , 1.567357513rem  +  4.6632124352vw , 5.3125rem )) {
    .justin {
      padding-top: clamp( 2.5rem , 1.567357513rem  +  4.6632124352vw , 5.3125rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , 1.567357513rem  +  4.6632124352vw , 5.3125rem )) {
    .justin {
      padding-top: calc(2.5rem + 2.8125 * (100vw - 20rem) / 60.3125);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.731865285rem  +  2.5906735751vw , 2.8125rem )) {
    .justin {
      padding-bottom: clamp( 1.25rem , 0.731865285rem  +  2.5906735751vw , 2.8125rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.731865285rem  +  2.5906735751vw , 2.8125rem )) {
    .justin {
      padding-bottom: calc(1.25rem + 1.5625 * (100vw - 20rem) / 60.3125);
    }
}

@supports (padding-right: clamp( 1.5rem , 1.0025906736rem  +  2.4870466321vw , 3rem )) {
    .justin__button {
      padding-right: clamp( 1.5rem , 1.0025906736rem  +  2.4870466321vw , 3rem );
    }
}

@supports not (padding-right: clamp( 1.5rem , 1.0025906736rem  +  2.4870466321vw , 3rem )) {
    .justin__button {
      padding-right: calc(1.5rem + 1.5 * (100vw - 20rem) / 60.3125);
    }
}

@supports (padding-left: clamp( 1.5rem , 1.0025906736rem  +  2.4870466321vw , 3rem )) {
    .justin__button {
      padding-left: clamp( 1.5rem , 1.0025906736rem  +  2.4870466321vw , 3rem );
    }
}

@supports not (padding-left: clamp( 1.5rem , 1.0025906736rem  +  2.4870466321vw , 3rem )) {
    .justin__button {
      padding-left: calc(1.5rem + 1.5 * (100vw - 20rem) / 60.3125);
    }
}

@supports (font-size: clamp( 1.125rem , 1.0420984456rem  +  0.414507772vw , 1.375rem )) {
    .slide-justin__title {
      font-size: clamp( 1.125rem , 1.0420984456rem  +  0.414507772vw , 1.375rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 1.0420984456rem  +  0.414507772vw , 1.375rem )) {
    .slide-justin__title {
      font-size: calc(1.125rem + 0.25 * (100vw - 20rem) / 60.3125);
    }
}

@supports (padding: clamp( 0.5rem , 0.3341968912rem  +  0.829015544vw , 1rem )) {
    .justin-button-next,
    .justin-button-prev {
      padding: clamp( 0.5rem , 0.3341968912rem  +  0.829015544vw , 1rem );
    }
}

@supports not (padding: clamp( 0.5rem , 0.3341968912rem  +  0.829015544vw , 1rem )) {
    .justin-button-next,
    .justin-button-prev {
      padding: calc(0.5rem + 0.5 * (100vw - 20rem) / 60.3125);
    }
}

@supports (font-size: clamp( 1.25rem , 1.1049222798rem  +  0.725388601vw , 1.6875rem )) {
    .justin-button-next,
    .justin-button-prev {
      font-size: clamp( 1.25rem , 1.1049222798rem  +  0.725388601vw , 1.6875rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.1049222798rem  +  0.725388601vw , 1.6875rem )) {
    .justin-button-next,
    .justin-button-prev {
      font-size: calc(1.25rem + 0.4375 * (100vw - 20rem) / 60.3125);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.731865285rem  +  2.5906735751vw , 2.8125rem )) {
    .shop {
      padding-top: clamp( 1.25rem , 0.731865285rem  +  2.5906735751vw , 2.8125rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.731865285rem  +  2.5906735751vw , 2.8125rem )) {
    .shop {
      padding-top: calc(1.25rem + 1.5625 * (100vw - 20rem) / 60.3125);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 1.567357513rem  +  4.6632124352vw , 5.3125rem )) {
    .shop {
      padding-bottom: clamp( 2.5rem , 1.567357513rem  +  4.6632124352vw , 5.3125rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.567357513rem  +  4.6632124352vw , 5.3125rem )) {
    .shop {
      padding-bottom: calc(2.5rem + 2.8125 * (100vw - 20rem) / 60.3125);
    }
}

@supports (row-gap: clamp( 2.5rem , 1.567357513rem  +  4.6632124352vw , 5.3125rem )) {
    .shop__container {
      row-gap: clamp( 2.5rem , 1.567357513rem  +  4.6632124352vw , 5.3125rem );
    }
}

@supports not (row-gap: clamp( 2.5rem , 1.567357513rem  +  4.6632124352vw , 5.3125rem )) {
    .shop__container {
      row-gap: calc(2.5rem + 2.8125 * (100vw - 20rem) / 60.3125);
    }
}

@supports ((-moz-column-gap: clamp( 0.9375rem , 0.419365285rem  +  2.5906735751vw , 2.5rem )) or (column-gap: clamp( 0.9375rem , 0.419365285rem  +  2.5906735751vw , 2.5rem ))) {
    .item-shop {
      -webkit-column-gap: clamp( 0.9375rem , 0.419365285rem  +  2.5906735751vw , 2.5rem );
         -moz-column-gap: clamp( 0.9375rem , 0.419365285rem  +  2.5906735751vw , 2.5rem );
              column-gap: clamp( 0.9375rem , 0.419365285rem  +  2.5906735751vw , 2.5rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , 0.419365285rem  +  2.5906735751vw , 2.5rem )) or (column-gap: clamp( 0.9375rem , 0.419365285rem  +  2.5906735751vw , 2.5rem ))) {
    .item-shop {
      -webkit-column-gap: calc(0.9375rem + 1.5625 * (100vw - 20rem) / 60.3125);
         -moz-column-gap: calc(0.9375rem + 1.5625 * (100vw - 20rem) / 60.3125);
              column-gap: calc(0.9375rem + 1.5625 * (100vw - 20rem) / 60.3125);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.522992228rem  +  2.0725388601vw , 2.1875rem )) {
    .item-shop__text:not(:last-child) {
      padding-bottom: clamp( 0.9375rem , 0.522992228rem  +  2.0725388601vw , 2.1875rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.522992228rem  +  2.0725388601vw , 2.1875rem )) {
    .item-shop__text:not(:last-child) {
      padding-bottom: calc(0.9375rem + 1.25 * (100vw - 20rem) / 60.3125);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 1.567357513rem  +  4.6632124352vw , 5.3125rem )) {
    .text {
      padding-bottom: clamp( 2.5rem , 1.567357513rem  +  4.6632124352vw , 5.3125rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.567357513rem  +  4.6632124352vw , 5.3125rem )) {
    .text {
      padding-bottom: calc(2.5rem + 2.8125 * (100vw - 20rem) / 60.3125);
    }
}

@supports (font-size: clamp( 2.25rem , 1.524611399rem  +  3.6269430052vw , 4.4375rem )) {
    .text__body {
      font-size: clamp( 2.25rem , 1.524611399rem  +  3.6269430052vw , 4.4375rem );
    }
}

@supports not (font-size: clamp( 2.25rem , 1.524611399rem  +  3.6269430052vw , 4.4375rem )) {
    .text__body {
      font-size: calc(2.25rem + 2.1875 * (100vw - 20rem) / 60.3125);
    }
}

@supports (font-size: clamp( 2rem , 1.3367875648rem  +  3.3160621762vw , 4rem )) {
    .text__tag {
      font-size: clamp( 2rem , 1.3367875648rem  +  3.3160621762vw , 4rem );
    }
}

@supports not (font-size: clamp( 2rem , 1.3367875648rem  +  3.3160621762vw , 4rem )) {
    .text__tag {
      font-size: calc(2rem + 2 * (100vw - 20rem) / 60.3125);
    }
}
}

@media (max-width: 47.99875em) and (min-width: 80.3125em) {
  .menu-open .menu__link {
    font-size: 1.625rem;
  }

  .item-shop {
    row-gap: 3.125rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 80.3125em) {
@supports (font-size: clamp( 1.125rem , 0.9591968912rem  +  0.829015544vw , 1.625rem )) {
    .menu-open .menu__link {
      font-size: clamp( 1.125rem , 0.9591968912rem  +  0.829015544vw , 1.625rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.9591968912rem  +  0.829015544vw , 1.625rem )) {
    .menu-open .menu__link {
      font-size: calc(1.125rem + 0.5 * (100vw - 20rem) / 60.3125);
    }
}

@supports (row-gap: clamp( 1.5625rem , 1.044365285rem  +  2.5906735751vw , 3.125rem )) {
    .item-shop {
      row-gap: clamp( 1.5625rem , 1.044365285rem  +  2.5906735751vw , 3.125rem );
    }
}

@supports not (row-gap: clamp( 1.5625rem , 1.044365285rem  +  2.5906735751vw , 3.125rem )) {
    .item-shop {
      row-gap: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 60.3125);
    }
}
}

@media (any-hover: hover) {
  .account__input:hover {
    -webkit-box-shadow: 0px 10px 30px 5px rgba(219, 200, 197, 0.2);
            box-shadow: 0px 10px 30px 5px rgba(219, 200, 197, 0.2);
    border-bottom: 1px solid #756e6c;
  }

  .button:hover {
    background: #323232;
  }

  .header__action *:hover {
    color: #000F9F;
  }

  .hiro__link:hover {
    background: #ece9e9;
  }

  .slide-justin__image img:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }

  .justin-button-next:hover,
  .justin-button-prev:hover {
    color: #737373;
    background-color: #eee;
  }

  .item-shop__image img:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }

  .text__link:hover {
    color: #737373;
  }

  .text__link:hover::before {
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transition: -webkit-transform 0.3s ease 0s;
    transition: -webkit-transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  }
}